image:
  repository: ghcr.io/deepakshrma/nrdot-reservoir
  tag: v0.1.0

collector:
  configOverride:
    processors:
      reservoir_sampler:
        size_k: 5000
        window_duration: 60s
        checkpoint_path: /var/otelpersist/badger
        checkpoint_interval: 10s
        trace_aware: true
        trace_buffer_timeout: 30s
        trace_buffer_max_size: 100000
        db_compaction_schedule_cron: "0 2 * * *"
        db_compaction_target_size: 134217728   # 128 MiB
    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [memory_limiter, batch, reservoir_sampler]
          exporters: [otlphttp]
persistence:
  enabled: true
  size: 2Gi